# ATOS

Host nwadmin
	User sartorir
	HostName nwadmin.frec.bull.fr

Host pise
	User sartorir
	HostName pise0
	ProxyJump nwadmin

Host amour
	User sartorir
	HostName 10.22.80.151
	ProxyJump nwadmin

# INRIA

Host plafrim
	User rsartori
	HostName ssh.plafrim.fr
	ProxyCommand ssh -l %r %h -W plafrim:22
	#ProxyCommand nc -X connect -x host.containers.internal:9000 %h %p
	ProxyJump nwadmin

Host dalton
	User rsartori
	HostName dalton.bordeaux.inria.fr

# OTHER

Host git*
	User rsartori
	ProxyCommand nc -X connect -x host.containers.internal:9000 %h %p

Host *
	#ForwardX11 yes
	ForwardAgent yes
	AddKeysToAgent yes